body {
  background-color: #1e2127;
  color: #abb2bf;
  padding: 1em;
  text-align: center;
}

h1 {
  color: #c678dd;
}

.instructions li,
.status,
.score {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.status {
  border: 1px solid #56b6c2;
  color: #56b6c2;
}

.score {
  border: 1px solid #d19a66;
  color: #d19a66;
}

.instructions li {
  color: #abb2bf;
}

kbd {
  border-radius: 5px;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: #282c34;
  border: 1px solid #abb2bf;
}

canvas {
  background: #282c34;
  display: block;
  image-rendering: pixelated;
  margin: 0 auto;
}
